.head{
position: fixed;    
top: 0;
background-color: white;
width: 100%;
padding: 15px 0;
display: flex;
justify-content: space-between;
align-items:center;
border-radius: 0;
margin: 0px;
box-shadow: 0px 5px 20px -5px #089da1;
z-index: 1000;
}



.logo{
    width: 80px;
    height: auto;
    border-radius: 10px;
    margin-left: 60px;
}

ul{
    display: flex;
    list-style-type: none;
    gap:25px;
    margin: 0;
    padding: 0;
    align-items: s;
    justify-content: center;
    flex: 1;
    gap: 25px;
    
}

a{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.2s;

}
body{
    padding-top: 100px;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 60px;
    width: auto ; 
    max-height: 50px;
    

}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('bg.png');
    background-size: cover;
    min-height: 100vh; 
    background-position: center;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    background-color: #089da1;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 0px;
    transition: 0.3s;
}

.home-content{
    max-width: 50%;
    color: black;
}
.home-content h1 span{
    color:#089da1 ;

}


.home-content h1{
    font-size: 60px;
    
}
 .home-content p {
    font-size: 14px;
    margin: 20px 0;

 }
 .home-Image {
    max-width: 45%;
 }

 .home-Image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
 }

.features {
    padding: 0 20px;
    margin: 40px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.features li {
    background-color: white;
    padding: 15px;
    border-radius:2px;
    text-align: center;
    box-shadow: 0px 0px 5px #089da1;
    width: 250px;
    height: 150px;
    margin: 10px 0;

}
.features li h1{
    font-size:15px;
    text-align: center;
}

.features li img {
    width: 60px;
    height: 60px;

}
.features li p{
    font-size: 14px;
    margin-bottom: 15px;
}
.about-section{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
    justify-content: flex-start;
}
.about {
   
    max-width: 70%;
}

.about img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.about-content{
  
    max-width: 30%;
    padding-left:px;
    
}
.about-content h1 {
    font-size: 70px;
    margin-bottom: 20px;
   
    color: black;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
}

.books-list{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 10px 10px 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.books-list::-webkit-scrollbar{
    height: 8px;
}
.books-list::-webkit-scrollbar-track {
    background: white;
}
.books-list::-webkit-scrollbar-thumb {
    background-color: #089da1;
    border-radius: 4px;
}

.book-card{
   flex: 0 0 calc((100% - 4*20px)/5);
    min-width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
    transition: 0.3s;
    padding: 10px;
    text-align: center;

}
.book-card:hover{
    box-shadow: 0px 4px 12px #089da1;
    transform: translateY(-5px);
}

.book-card img{
    width: 100%;
    height:60%;
    object-fit: cover;
    margin-bottom: 10px;
}

.book-card p{
    color: darkgrey;
}
.genre{
    color: #089da1;
}
.price{
    color: black;
}

.book-card a{
    background-color: transparent; 
    border: 2px solid #089da1;
    border-radius: 0px;
     
}
.arrival-list {
    display: flex;
    gap: 20px;             
    justify-content: center; 
    flex-wrap: wrap;        
    padding: 10px 0;
}

.arrival-card {
    width: 250px;           
    height: 360px;           
    border: 1px solid black;
    border-radius: 0px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}

.arrival-card:hover {
    box-shadow: 0px 4px 12px #089da1;
    transform: translateY(-5px);
}

.arrival-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;      
    margin-bottom: 10px;
}
.arrival-card a{
    background-color: transparent; 
    border: 2px solid #089da1;
    border-radius: 0px;
    font-size: 12px; 
   
    
     
}
.arrival-card h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
     margin: 5px 0 0 0; 

}
.arrival-card img.stars{
   padding-top: 0px;
   width: 70px;       
    height: auto;
    display: block;    
    margin: 5px auto;  
}
.Reviews-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px;
}

.review-card {
    flex: 0 0 calc((100% - 3 * 20px) / 4); 
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 12px #089da1; 
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
     position: relative;
}
.person-img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
}
.icon-img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    
}

.review-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
    bottom: 0px;      
}
.strs {
    width: 80px;          
    height: auto;       
    display: block;      
    margin: 10px 0 0 ; 
}

.banner{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.blog-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.blog-card{
   flex: 0 0 calc((100% - 2 * 20px) / 3);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
  
   box-shadow: 0 6px 15px rgba(0,0,0,0.30);

    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.3s; 
}
.blog-img{
    width: 100%;
    height: 220px;     
    object-fit: cover; 
    border-radius:0px;

    display: block;   
    margin: 0;        
    padding: 0;
}
.icon{
   width: 25px;   
    height: 25px;
    object-fit: contain;  
    filter: invert(0%); 
   transition: 0.3s;
}

.final-section {
   display: flex;
    background-color: #e0e0e0; 
      justify-content: space-between;
    padding: 40px 20px;         
    box-sizing: border-box;
    min-height: 150px;          
    width: 100%;   
}
.final-card{
  flex: 0 0 calc((100% - 4 * 20px) / 5);
 
   
    position: relative;
    
   

    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.3s; 
}

.logo-bottom{
    width: 80px;
    height: auto;
   margin: 0 auto 10px auto;
   
}

.contact{
     display: flex;
    align-items: center;
    margin-bottom: 10px;
    bottom: 0px;      
}

.follow-icon{
   width: 100px;   
    height: 100px;
    object-fit: contain;
    margin-top: 0px; 
    filter: invert(0%); 
   transition: 0.3s; 
}
.final-card input[type="email"] {
    width: 100%;
    padding: 10px 15px;
   
    border: 1px solid #ccc;
    border-radius: 20px; 
    font-size: 16px;
    box-sizing: border-box;
}

.final-card button {
    padding: 10px 20px;
    background-color: #089da1; 
    color: white;             
    border: none;
    border-radius: 20px;       
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.banner-section{
    position: relative; 
    display: inline-block; 
}
.btn-banner{
     position: absolute;
    bottom:100px;   
    left: 100px;     
    background-color: #089da1;
    color: white;
    padding: 8px 15px;
    border-radius: 0px;
    text-decoration: none;
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
    background-color: #089da1; 
    border-radius: 5px;        
}
.dark-btn{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-right: 40px;
}
body.dark-mode{
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .head{
    background-color: #1f1f1f;
    box-shadow: 0px 5px 20px -5px #000;
}
body.dark-mode a{
    color: #ffffff;
}
body.dark-mode .features li,
body.dark-mode .book-card,
body.dark-mode .arrival-card,
body.dark-mode .review-card,
body.dark-mode .blog-card{
    background-color: #1e1e1e;
    border-color: #333;
    color: #ffffff;
}

body.dark-mode .home{
    background-image: url(bg.png);
    background-position: center;
}

body.dark-mode .home-content{
    color: #ffffff;
}
body.dark-mode .price{
    color: #ffffff;
}
body.dark-mode .final-section{
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode .btn,
body.dark-mode .btn-banner,
body.dark-mode button{
    background-color: #1f1f1f;
    color: #ffffff;
}
body.dark-mode ::-webkit-scrollbar-track{
    background: #222;
}
.dark-mode .icons {
    filter: invert(100%); 
    color: white;
}
.dark-mode .icon-img {
   background-color: #1f1f1f;
}
body.dark-mode .icon {
   filter: invert(100%); 
}
body.dark-mode .follow-icon {
   filter: invert(100%); 
}

.review-header .icon {
    filter: none ; 
}